<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
    <a class="navbar-brand mr-auto mr-lg-0" href="#">Compiladores</a>
    <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
  <div class="nav-scroller bg-white shadow-sm">
    <nav class="nav nav-underline">
      <!-- <a class="nav-link active" href="#">Dashboard</a> -->
      <!-- <a class="nav-link" href="#">
        Friends
        <span class="badge badge-pill bg-light align-text-bottom">27</span>
      </a> -->
      <a class="nav-link" routerLink="ll1">LL(1)</a>
    </nav>
  </div>

  <main role="main" class="conteiner">
      <div class="p-3">
        <router-outlet></router-outlet>
      </div>
  </main>